<a href="https://colab.research.google.com/github/Hrotich/week3001/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_FirstName_LastName_DataReport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
# Let's import the pandas library just like we did with Numpy
# 
import pandas as pd

In [21]:

url = "https://raw.githubusercontent.com/Hrotich/week3001/main/cells_geo.csv"

df = pd.read_csv(url,  delimiter = ';')
df

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [23]:
df.VILLES.mode()

0    COCODY
dtype: object

In [57]:

df.VILLES.value_counts()

AttributeError: ignored

In [33]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Hrotich/week3001/bf4bff39bb83e3c35423718aa78aee348a34962f/Telcom_dataset%20(1).csv",delimiter = ',')
df

      PRODUTC  VALUE DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0       Voice      0  04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2         sms     25  05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  05:42.0  ...     19e2e      #NAME?      #NAME?
4       Voice     14  06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...       ...    ...      ...  ...       ...         ...         ...
14998   Voice      0  01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
14999   Voice     62  01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
15000   Voice     32  01:43.0  ...     19e2e  a4731e780e  d68260ef50
15001   Voice     30  01:43.0  ...     19e2e  98ed726da2  b4130b54ab
15002   Voice     60  01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

In [34]:
df.PRODUTC.mode()

0    sms
dtype: object

In [36]:
df.VALUE.sum()

383307

In [37]:
df.DW_A_NUMBER_INT.mode()

0    8ab8b9ed6989f61
dtype: object